* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
h1 {
    color: blue;

    p{
        color: yellowgreen;
    }
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
*/
